.App {
  text-align: center;
  height: 99.8vh;
}

* {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
}
.custom-scrollbar-css {
  overflow-y: scroll;
}
.userFeild:-webkit-autofill{
  background-color: white !important;
  color: black !important;
}
 input:-webkit-autofill {
  WebkitBoxShadow: 0 0 0 100px #e8f0fe inset; /* light blue background */
  WebkitTextFillColor: #000;
}
.logicproduct div section.toastify{
margin: unset;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* scrollbar width */
.custom-scrollbar-css::-webkit-scrollbar {
  width: 5px;
}

/* scrollbar track */
.custom-scrollbar-css::-webkit-scrollbar-track {
  background: #eee;
}

/* scrollbar handle */
.custom-scrollbar-css::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color:#2a20c2;
  /* background-image: linear-gradient(to top, #0c0c0c 0%, #0c0d0e 100%); */
}
.table-th {
  font-size: 14px; /* or 14rem or 14em, depending on your context */
  font-weight: 600;
  white-space: nowrap;
}