.App {
  text-align: center;
  height: 99.8vh;
}

* {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
}
.custom-scrollbar-css {
  overflow-y: scroll;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* scrollbar width */
.custom-scrollbar-css::-webkit-scrollbar {
  width: 5px;
}

/* scrollbar track */
.custom-scrollbar-css::-webkit-scrollbar-track {
  background: #eee;
}

/* scrollbar handle */
.custom-scrollbar-css::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color:#2a20c2;
  /* background-image: linear-gradient(to top, #0c0c0c 0%, #0c0d0e 100%); */
}